name: join-travel-backend
on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.6'
      - name: Run unit tests
        run: go test -v ./internal/...
      - name: Run acceptance tests
        run: go test -v ./godogs_test.go
      - name: Run check for format
        run: |
          if [ -n "$(gofmt -l .)" ]; then
            echo "Unformatted files detected:"
            gofmt -l .
            exit 1
          fi
